<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/9.5/configuration.html -->
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    failOnRisky="true"
    failOnWarning="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    executionOrder="random"
    resolveDependencies="true">

    <testsuites>
        <testsuite name="PHPUnit Test">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage
        cacheDirectory="./coverage"
        includeUncoveredFiles="true"
        processUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true">
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
</phpunit>
